
body{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box:hover{
    transform: scale(1.1);
    background-image: radial-gradient(blue,white,rgb(137, 214, 236));
}

#box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(40, 40, 236),rgb(137, 214, 236),white);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
}